<html>
<head>
    <link rel="stylesheet" href='/static/main.css' />
</head>
</html>
<div id="header"></div>
<div class="left"></div>
<div class="stuff">
    <br><br>
    <h1>Cloud Resume Challenge</h1>
    <h2>Joe C</h2>
    <hr />
    <p1>
        <img class="fit-picture"
             src="/static/CCPjpg.png"
             heigh="300"
             width="300">
        <img class="fit-picture"
             src="/static/saa.jpg"
             heigh="300"
             width="300">
        <img class="fit-picture"
             src="/static/sysops.jpg"
             heigh="300"
             width="300">
    </p1>
    <h2 class="head">Work Experience</h2>
    <h3>Agilent Technologies</h3>
    <p3 class="head">Senior Informatics Consultant</p3><p style="text-align:right">APR 2015 - Present</p>
    <ul>
        <li>Design and deploy large scale laboratory informatics systems.</li>
        <li>Develop and deliver customer solutions to meet customer needs.</li>
        <li>Provide tier 2 application support for informatics customers and application engineers in the field.</li>
        <li>Computer Systems Validation document creation and execution.</li>
        <li>Providing technical assistance, support, and troubleshooting in the resolution of system communications failures and conflicts.</li>
        <li>Analyzing more complex trends develop reports, and supports communication of issues to the business and it throughout the problem recovery process.</li>
    </ul>
    <p4 class="head">Application Engineer <p style="text-align:right">APR 2014 - APR 2015</p></p4>
    <ul>
        <li>Installation and Qualification of Agilent Software</li>
        <li>Software Troubleshooting and Maintenance</li>
        <li>IT Consulting</li>
    </ul>
    <h2 class="head">Education</h2>
    <ul>
        <a href="https://www.uri.edu/">
            <li>The University of Rhode Island</li><p style="text-align:right">09/2007 - 05/2015</p>
            <li>B.A. Biology</li>
        </a>
    </ul>
    <p class="head">Skills</p>
    <ul>
        <li>Customer First focus</li>
        <li>Strong analytical interpretation skills</li>
        <li>Problem-solving and ability to rapidly respond to escalations</li>
        <li>Excellent communication, time management, interpersonal skills and attitude</li>
    </ul>
    <p class="head">Organizations</p>
    <ul>
        <li>VMUG</li>
    </ul>
    <p class="head">Honor Awards</p>
    <ul>
        <li>Aws Solution Architect Associate</li>
        <li>AWS SysOps Administraotr Associate</li>
        <li>AWS Cloud Practitioner</li>
        <li>Eagle Scout - Boy Scouts of America</li>
    </ul>
    
</div>
<div class="right"></div>
<div id="footer">
    <h2 id="name">Joe C</h2>
</div>